#btn1{
    background-image: linear-gradient(to right, #77aad9, #e68387);
    border-style: none;
    color: white;
    height:34px;
}

.main_body {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    background-color: #FAFAFA;
}

.feed_box {
   
    background-color: white;
    width: 480%;
    margin: 80%;
    padding-top:80%;
    min-height: auto;
    padding-bottom: 80%;
}

.comment_textbox{
    vertical-align: middle;
}


.feed_img{
    width: 100%;
    object-fit: contain;
}

.feed_content{
    padding: 0px 10px;
}

.feed_like{
    word-break:break-all;
    padding: 0px 10px;
}

.feed_reply{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}


.feed_txt{
    font-size: 16px;
}

.comment_content{
    font-weight: 300;
}
.timestamp{
    font-size: 10px;
    color: grey;
    margin-bottom: 5px;
}


.feed_icon{
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}span{
     padding-right: 5px;
}

.feed_name{
    padding: 10px;
    display: flex;
    align-items: center;
}

.feed_name_txt{
    font-size: 14px;
    padding: 0px 10px;
    font-weight: bold;
}

.gallery_delete{
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    margin-left: auto;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery_delete:hover{
    transform: scale(1.2);
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_content{
    display: flex;
    flex-direction: column;
}

.name_content_txt{
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big_profile_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

.link_txt{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.recommend_box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.comment_box{
    margin: 40px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.like_btn{
  width: 5px;
  height: 5px;
}

#btn_group button{ 
  border: 1px solid white; 
  background-color: rgba(0,0,0,0); 
  /* color: skyblue;  */
  /* padding: 5px; */
}
.comment_line{
    vertical-align: middle;
}

.comment_line:hover{
    background-color: rgba(170, 170, 170, 0.629);
}

.delete {
    float: right;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.delete:hover {
      transform: scale(1.2);
} 

.comment_textbox {
    font-weight: 300;
}

.updated{
    font-size: 18px;
    color: grey;
    margin-bottom:5px;
}