@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  
select {
    /* Reset Select */
    appearance: none;
    outline: 0;    
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #232323;
    background-color: #FFFFFF;
    background-image: none;
    cursor: pointer;
    border-radius: 7px;
   
    
  }
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
.select:hover::after {
    color: #f39c12;
  }
  
  /* Other styles*/
  body {
    color: #fff;
    background: var(--background-gradient);
  }
  h1 {
    margin: 0 0 0.25em;
  }
  a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
    padding: .25em;
    border-radius: .25em;
    background: white;
  }
  

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}  
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 600px;
  height: 410px;
  position: relative;
  padding: 10px;
}

.modal_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.modal_title_side{
  flex: 0 0 40px;
  text-align: center;
}

.modal_image_upload{

  text-align: center;
  transition: all .15s ease-in-out;
  width:580px;
  height: 350px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}


*::before,
*::after {
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: #FFFFFF;
}

.container {
   max-width: 100rem;
   margin: 0 auto;
   padding: 0 2rem 2rem;
}

.heading {
   font-family: "Montserrat", Arial, sans-serif;
   font-size: 4rem;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   padding: 3.5rem 0;
   color: #1a1a1a;
}

.heading span {
   display: block;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   /* Compensate for excess margin on outer gallery flex items */
   margin: -2.5rem -1rem;
}

.gallery-item {
   /* Minimum width of 24rem and grow to fit available space */
   flex: 1 0 24rem;
   /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
   margin: 1rem;
   box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
   overflow: hidden;
}

.gallery-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 400ms ease-out;
}

.gallery-image:hover {
   transform: scale(1.15);
}


*::before,
*::after {
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: #FFFFFF;
}

.container {
   max-width: 100rem;
   margin: 0 auto;
   padding: 0 2rem 2rem;
}

.heading {
   font-family: "Montserrat", Arial, sans-serif;
   font-size: 4rem;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   padding: 3.5rem 0;
   color: #1a1a1a;
}

.heading span {
   display: block;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   /* Compensate for excess margin on outer gallery flex items */
   margin: -1rem -1rem;
}

.gallery-item {
   /* Minimum width of 24rem and grow to fit available space */
   flex: 1 0 24rem;
   /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
   margin: 1rem;
   box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
   overflow: hidden;
}

.gallery-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 400ms ease-out;
}

.gallery-image:hover {
   transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
   .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      grid-gap: 2rem;
   }

   .gallery,
   .gallery-item {
      margin: 0;
   }
}
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #E3DEF3;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: #E3DEF3;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    font-size: 20px;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


/* =========================================== */



