{% extends "base.html" %}
{% block content %}

<html>
  <body>
    <br>
    <br>
    <br><br>
    
    <div class="container">        
          <div class="card card-1">
            <h3>Ionic Native</h3>
            <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
              of mobile UI components, ready to go.</p>          
          </div>  
        </a>
      
      <a href= "{% url 'select' %}">
      <div class="card card-2">
        <h3>UI Components</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>      
    </div>
    </a>
    <a href= "{% url 'collection' %}">
      <div class="card card-3">
        <h3>Theming</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>     
    </div>
  </div>
</div>


</body>

{% endblock %}
