{% extends "base.html" %}
{% block content %}

<html>
  <body>
    <br>
    <br>
    <br><br>
    
    <div class="container">        
      <a href= "#" style="text-decoration:none">
          <div class="card card-1">
            <h3>Photo Guide</h3>
            <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
              of mobile UI components, ready to go.</p>          
          </div>  
      </a>
      
      <a href= "{% url 'select' %}" style="text-decoration:none">
      <div class="card card-2">
        <h3>Gallery</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>      
      </div>
      </a>
    <a href= "{% url 'collection' %}" style="text-decoration:none">
      <div class="card card-3">
        <h3>Collection</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>     
    </div>
  </a>
  </div>

</div>


</body>

{% endblock %}
