{% extends "base.html" %}

{% load static %}


<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
<body>

  {% block content %}

  <div class  = main_middle>
    
    <a> email : </a> 
    <label class="text_box">{{ user.email }}</label>
    <br><br>


    <a>  닉네임 : </a> 
    <label class="text_box"> {{ user.nickname }}</label>
    <br><br>

    <a href = "{% url 'account_change_password' %}" type="button" class="btn btn-outline-dark">정보 수정</a>

    <a href = "delete" type="button" class="btn btn-outline-dark" > 회원 탈퇴</a>
    <br><br>
    
    
  </div>
  
  {% endblock %} 



</body>
