.test{
    position:absolute;
    position:relative;
    left: 10%;
    padding-top:5%
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;    
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;    
    margin-top: -9px;
}

.feed_box {
  background-color: white;
  width: 400px;
  margin: 105px;
  min-height: auto;
  padding-bottom: 10px;
}
span{
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


