{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'gallery/assets/css/gallery_style.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    
<body style="text-align: center;">

    <section class="u-align-center u-clearfix u-white u-section-1 post-wrapper" id="carousel_871a">
        <div class="u-expanded-width u-gradient u-shape u-shape-rectangle u-shape-1"><br>
            <h1 class="display-4" style="font-family: 'Cafe24Ssurround';color:#db545a;text-align : center;"> 갤러리 </h1><br>
            <div id = select style="margin:auto;text-align:center;">
                <form method="post" action="{% url 'gallery' %}">
                    {% csrf_token %}
                        <select class="form-select" name="landmark" id="landmark">
                            <option value=0>전체</option>
                                {% for landmark in landmarks%}
                                    <option value="{{landmark.landmark_id}}"> {{landmark.name}} </option>
                                {% endfor %}
                        </select>
                        <select class="form-select" name="category" id="category" style="display:inline-block;">
                            <option value=0>전체</option>
                            <option value=1>인물</option>
                            <option value=2>풍경</option>
                            <option value=3>음식</option>
                          </select>
                    <button style="background-image: linear-gradient(to right, #77aad9, #e68387); border-style: none; height : 40; margin : -4 0 0 0 ; color: white;" 
                    type="submit" id = 'btn1' class="btn"> 검색</button>
                        {% csrf_token %}
                </form>
                <button id="add_feed" style="background-image: linear-gradient(to right, #77aad9, #e68387); border-style: none; height : 40; margin : -4 0 0 0 ; color: white;" 
                class="btn"> 사진 추가</button>
            </div><br><br><br>
            <div class="gallery">
                {% for data in page_obj %}
                    <div class="gallery-item">
                        <a href= "{% url 'detail2' data.gallery_id %}" aria-label="Genuine Gemini" class="grid-item-link">
                            <img class="gallery-image" src="{{ data.s3_url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button id="loadmoreBtn">Load More</button>
        </div>
    </section>

<!-- Pagination -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
    $("#loadmoreBtn").on('click', function(){
      var _currentResult = $(".gallery-item").length;
      // run Ajax
      $.ajax({
        url:"{% url 'load_more' %}",
        type:'post',
        data:{
          'offset':_currentResult,
          'csrfmiddlewaretoken':"{{csrf_token}}",
        },
        dataType:'json',
        beforeSend:function(){
          $("#loadmoreBtn").addClass('disabled').text('Loading...');
        },
        success:function(res){
          var _html='';
          var json_data=$.parseJSON(res.posts);
          // console.log(json_data)
          $.each(json_data, function(index, data){
            // console.log(data.fields)
            _html+='<div class="gallery-item">\
                      <a href= "detail/'+data.pk+'/" aria-label="Genuine Gemini" class="grid-item-link">\
                      <img class="gallery-image" src="'+data.fields.s3_url+'">\
                      </a>\
                    </div>';

          });
          $(".gallery").append(_html);
          var _countTotal=$(".gallery-item").length;
          if(_countTotal==res.totalResult){
            $("#loadmoreBtn").remove();
          }else{
            $("#loadmoreBtn").removeClass('disabled').text('Load more');
          }          
        }
      });
    });
  });
</script>
<!-- Pagination -->
</body>

<div id="modal_add_feed" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div> 새 게시물 </div>
            <div class="modal_title_side">
                <span id="close_modal" class="material-icons-outlined">close</span>
            </div>
        </div>
        <form method="post" action="upload" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal_image_upload">
                <div class="item" id="label_input"><br>
                    <label for="file">사진을 등록해주세요</label>
                </div>
                <div class="item" id="filebox">
                    <input type="file" id="file" class="file" name="file" onchange="imageView(this)" accept="image/png, image/jpeg" required>
                </div>
                <div class="item" id="landmark_input">
                    <select class="form-select" name="landmark" id="landmark">
                        {% for landmark in landmarks%}
                            <option value="{{landmark.landmark_id}}"> {{landmark.name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="item" id="category_input">
                    <select class="form-select" name="category" id="category" style="display:inline-block;">
                        <option value=0>전체</option>
                        <option value=1>인물</option>
                        <option value=2>풍경</option>
                        <option value=3>음식</option>
                    </select>
                </div>
                <div class="item" >
                    <button style="background-image: linear-gradient(to right, #77aad9, #e68387); border-style: none; height : 40; width:80; margin : -4 0 0 0 ; color: white;" 
                    type="submit" id = 'btn1' class="btn"> 등록하기</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
  const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");
    console.log(buttonAddFeed)
    console.log("###")
    buttonAddFeed.addEventListener("click", e => {
        modal.style.display = "flex";
        document.body.style.overflowY = "hidden";
    });

  
  // 모달 닫기 코드
  const buttonCloseModal = document.getElementById("close_modal");
  buttonCloseModal.addEventListener("click", e => {
      modal.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  function imageView(input) {
      /* Secure Coding */
      fileName = input.files[0].name
      if(!fileName.endsWith(".png") && !fileName.endsWith(".jpg") && !fileName.endsWith(".jpeg") && !fileName.endsWith(".PNG") && !fileName.endsWith(".JPG") && !fileName.endsWith(".JPEG")) {         
          document.getElementById("file").value = "";
          out.wright("업로드할 수 없는 확장자입니다.")
      } else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#tempImage').attr('src', e.target.result)
                     .width(300)
                     .height(300);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    }
</script>

{% endblock %}

