{% extends "base.html" %}
{% block content %}

<div id = select>
    <form method="post" action="http://127.0.0.1:8000/select/">
        <select name="category" id="category">
            <option value=0>전체</option>
            <option value=1>인물</option>
            <option value=2>풍경</option>
            <option value=3>음식</option>
        </select>
        <input type="submit">
        {% csrf_token %}
    </form>
</div>   

{% comment %} 갤러리 {% endcomment %}
<div>
    <h2 class="nested-category-title nested-category-title-padding animation-segment-parent-hidden">
        gallery
    </h2>

</div>

<div class="products-flex-container">

    <div class="list-grid">
        {% if datas %}
            {% for data in datas%}
                
                <div class="box" id="b" data-item-id="611591d28b3917669f76f8eb" data-controller="ProductListImageLoader" data-controllers-bound="ProductListImageLoader" style="transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); transition-duration: 0.8s; transition-delay: 0.136364s;">
                        <div class="grid-image-wrapper"> 
                            <a href= "{% url 'detail2' data.gallery_id %}"  aria-label="Genuine Gemini" class="grid-item-link">
                            <img src= "{{ data.photo_url }}" width=300 height=300>
                            </a>
                        </div>
                        <br>
                    </figure>
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}